/* 滚动条隐藏 */
::-webkit-scrollbar {
  display: none;
}
/* 禁用图片点击,butterfly渲染后会给图片套上fancybox，点开后会造成信笺偏移*/
.formmain{
   pointer-events: none !important;
}
/* top-img隐藏 */
#page-header {
  background: transparent !important;
}
/* 宽度小于530px隐藏信封 */
@media screen and (max-width: 530px) {
  #computer {
    display: none !important;
  }
}

@media screen and (min-width: 530px) {
  #mobile {
    display: none !important;
  }
}

#article-container img {
  margin: 0 auto 0rem;
}

#form-wrap {
  overflow: hidden;
  height: 447px;
  position: relative;
  top: 0px;
  transition: all 1s ease-in-out .3s;
  z-index: 0;
}
/* 调整信封划出高度，换信笺内容以后可在此设置height */
#form-wrap:hover {
  height: 1050px;
  top: -200px;
}

#beforeimg {
  position: absolute;
  bottom: 126px;
  left: 0px;
  background-repeat: no-repeat;
  width: 530px;
  height: 317px;
  z-index: -100;
  pointer-events: none;
}

#afterimg {
  position: absolute;
  bottom: -2px;
  left: 0;
  background-repeat: no-repeat;
  width: 530px;
  height: 259px;
  z-index: 100;
  pointer-events: none;
}

#envelope {
  position: relative;
  overflow: visible;
  width: 500px;
  margin: 0px auto;
  transition: all 1s ease-in-out .3s;
  padding-top: 200px;
}

#maincontent {
  width: 530px;
  margin: 20px auto 0;
}

.headerimg {
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.formmain {
  background: rgba(255, 255, 255, 0.65);
  width: 95%;
  max-width: 800px;
  margin: auto auto;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

.title3 {
  text-decoration: none;
  color: #f5a6b9;
}

.comments {
  border: #ddd 1px solid;
  border-radius: 5px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.8);
  margin: 15px 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: #ddd 1px solid;
  border-right: #ddd 1px solid;
  padding-top: 20px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.bottomcontent {
  text-align: center;
  margin-top: 40px;
}

.bottomimg {
  width: 100%;
  margin: 5px auto 5px auto;
  display: block;
  pointer-events: none;
}

.bottomhr {
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
/* 夜间模式 */
[data-theme='dark']
  .formmain {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(30px) saturate(170%);
    -webkit-backdrop-filter: blur(30px) saturate(170%);
  }
[data-theme='dark']
  .comments {
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

[data-theme='dark']
  .title3 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

[data-theme='dark']
  .bottomhr {
    color: rgba(255, 255, 255, 0.6);
  }