/* 生肖图标调整位置 */
.article-sort .article-sort-item.year svg.icon {
  margin-left: 0.5rem;
}

.article-sort-title::before {
  background: rgba(255, 255, 255, 0.8);
  left: -8.5px;
}

.article-sort-title::after {
  background: rgba(255, 255, 255, 0.8);
}

.article-sort-item::before {
  background: rgba(255, 255, 255, 0.8);
  left: calc(-20px - 16.5px);
}

.article-sort {
  border-left: 2px solid rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] .article-sort-title::before {
  background: rgba(255, 255, 255, 0.75);
}

[data-theme="dark"] .article-sort-title::after {
  background: rgba(255, 255, 255, 0.7);
}

[data-theme="dark"] .article-sort-item::before {
  background: rgba(255, 255, 255, 0.7) !important;
}

[data-theme="dark"] .article-sort {
  border-left: 2px solid rgba(255, 255, 255, 0.7);
}

/* nav顶栏自定义样式 */
#page-header.nav-fixed #nav {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

/* 顶栏按钮文字颜色 */
#page-header.nav-fixed #nav a {
  color: rgba(255, 255, 255, 0.8);
}

/* 顶栏菜单按钮颜色 */
#page-header.nav-fixed #nav .site-page.group {
  color: rgba(255, 255, 255, 0.8);
}

/* 横向排布子菜单 */
#nav .menus_items .menus_item .menus_item_child li {
  display: inline-block;
  margin: 2px;
  transition: all 0.3s ease-in-out;
  border-radius: 9px !important;
}

/* 圆角隐藏 */
ul.menus_item_child {
  overflow: hidden;
  border-radius: 15px;
}

/* 调整空隙，确保不会天下武功唯快不破 */
#nav .menus_items .menus_item .menus_item_child {
  margin-top: 0px !important;
  border-radius: 10px;
  right: -137px;
}

#nav #nav-right #search-button a {
  display: inline;
  padding: 0 0 0 1rem;
  position: relative;
  font-weight: 700;
  font-size: .82em !important;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .149);
}

#nav #nav-right {
  flex: 1 1 auto;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
}

#nav #nav-right #search-button .site-page.social-icon:not(.child):after {
  background-color: transparent !important;
}

#nav #nav-right #toggle-menu .site-page:not(.child):after {
  background-color: transparent !important;
}



/* 顶部菜单栏子菜单悬停样式 */
/* #nav .menus_items .menus_item:hover .menus_item_child {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(19px) saturate(170%) !important;
  -webkit-backdrop-filter: blur(19px) saturate(170%) !important;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #nav .menus_items .menus_item:hover .menus_item_child {
  background: rgba(18, 18, 18, 0.15) !important;
} */

/* #nav .menus_items .menus_item:hover .menus_item_child li a:hover{
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(19px) saturate(170%) !important;
  -webkit-backdrop-filter: blur(19px) saturate(170%) !important;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
} */



/* 顶栏搜索图标颜色 */
#page-header.nav-fixed #nav .site-page.social-icon.search {
  color: rgba(255, 255, 255, 0.8);
}

/* 顶栏全部文字颜色 */
#page-header.nav-fixed #nav a,
#page-header.nav-fixed #nav span.site-page,
#page-header.nav-fixed #nav #toggle-menu {
  color: rgba(255, 255, 255, 0.8);
}

/* 顶栏手机端侧边栏按钮颜色 */
#page-header.nav-fixed #nav .site-page {
  color: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(18, 18, 18, 0.15);
}

/* 搜索框自定义样式 */
.search-dialog {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .search-dialog {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 0px !important;
  }



  /* 文章分享按钮手机端自定义样式  */
  #content-inner #post .tag_share {
    display: block !important;
  }

  #content-inner #post .tag_share .social-share .icon-facebook {
    margin-left: 0;
  }

}

[data-theme="dark"] .search-dialog {
  background: rgba(18, 18, 18, 0.15);
}

[data-theme="dark"] .search-dialog .local-search-input input,
.search-dialog #algolia-search-input input,
.search-dialog .local-search-input .ais-SearchBox-input,
.search-dialog #algolia-search-input .ais-SearchBox-input {
  background: rgba(18, 18, 18, 0.15);
}

.search-dialog .local-search-input input,
.search-dialog #algolia-search-input input,
.search-dialog .local-search-input .ais-SearchBox-input,
.search-dialog #algolia-search-input .ais-SearchBox-input {
  /* From https://glassmorpher.ai */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(32px) saturate(190%);
  -webkit-backdrop-filter: blur(32px) saturate(190%);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#post .pagination-post {
  border-radius: 20px !important;
  border: 1px solid rgba(100, 100, 100, 0.1);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #post .pagination-post {
  border: 1px solid rgba(200, 200, 200, 0.2);
}

/* footer自定义样式 */
#footer {
  background: none;
}

#footer .footer-other .footer-copyright .copyright {
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #footer .footer-other .footer-copyright .copyright {
  background: rgba(18, 18, 18, 0.15);
}

/* post页面自定义样式 */
#content-inner #post {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #content-inner #post {
  background: rgba(18, 18, 18, 0.15);
}

#content-inner #post #article-container img {
  border-radius: 10px;
}

/* 文章分享按钮自定义样式  */
#content-inner #post .tag_share {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}

#content-inner #post .tag_share .social-share .icon-qq {
  margin-right: 0;
}

#content-inner #post .tag_share .social-share .icon-wechat:hover .wechat-qrcode {
  display: block;
  border-radius: 10px;
}

#content-inner #post .tag_share .social-share .icon-wechat:hover .wechat-qrcode h4 {
  border-radius: 10px 10px 0 0;
}

[data-theme="dark"] #content-inner #post .tag_share .social-share .icon-wechat:hover .wechat-qrcode {
  background: rgb(27, 27, 27);
  box-shadow: 0 2px 10px #333;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

[data-theme="dark"] #content-inner #post .tag_share .social-share .icon-wechat:hover .wechat-qrcode h4 {
  background: rgb(18, 18, 18);
}

[data-theme="dark"] #content-inner #post .tag_share .social-share .icon-wechat .wechat-qrcode:after {
  border-color: rgb(27, 27, 27) transparent transparent transparent;
}

/* archive页面自定义样式 */
#content-inner #archive {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #content-inner #archive {
  background: rgba(18, 18, 18, 0.15);
}

/* tags page页面自定义样式 */
#content-inner #page {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #content-inner #page {
  background: rgba(18, 18, 18, 0.15);
}

/* tag标签页面自定义样式 */
#content-inner #tag {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #content-inner #tag {
  background: rgba(18, 18, 18, 0.15);
}

/* category分类页面自定义样式 */
#content-inner #category {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #content-inner #category {
  background: rgba(18, 18, 18, 0.15);
}

/* card-widget卡片自定义样式 */
#aside-content .card-widget {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

[data-theme="dark"] #aside-content .card-widget {
  background: rgba(18, 18, 18, 0.15);
}



/* 移动端侧边栏自定义样式 */
#sidebar #sidebar-menus {
  /* Basic Glass Effect */
  background: rgba(100, 100, 100, 0.2);
  backdrop-filter: blur(19px) saturate(150%);
  -webkit-backdrop-filter: blur(19px) saturate(150%);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

#sidebar #menu-mask {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px) saturate(150%);
  -webkit-backdrop-filter: blur(8px) saturate(150%);

  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #sidebar #menu-mask {
  background: rgba(18, 18, 18, 0.15);
}

#sidebar #sidebar-menus .avatar-img.text-center {
  margin-top: 30%;
}

#sidebar #sidebar-menus .site-data.text-center a div {
  color: rgba(255, 255, 255, 0.8);
}


#sidebar #sidebar-menus .menus_items {
  box-shadow: none;
  margin: 20px;
  padding: 15px;
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
}

#sidebar #sidebar-menus .menus_items .menus_item a,
.site-page.group {
  color: rgba(255, 255, 255, 0.8);
}

#sidebar #sidebar-menus .menus_items .menus_item .site-page.group {
  color: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] #sidebar #sidebar-menus {
  background: rgba(18, 18, 18, 0.15);

}


/* 页面顶部图自定义样式 */
#page-header.post-bg {
  height: 300px;
  background: transparent !important;
}


/* 文章磁贴自定义样式 */
#recent-posts .recent-post-item {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #recent-posts .recent-post-item {
  background: rgba(18, 18, 18, 0.15);
}

/* 404页面自定义样式 */
.page.type-404 #content-inner #page {
  /* Basic Glass Effect */
  background: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: none;
  border: none;
  box-shadow: none;
}

.page.type-404 #content-inner #page .error-content {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .page.type-404 #content-inner #page .error-content {
  background: rgba(18, 18, 18, 0.15);
}

/* tag标签自定义样式 */
.tag-cloud-list a {
  background: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(11px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
}

.tag-cloud-list a:hover {
  background: rgba(134, 128, 128, 0.1) !important;
}

[data-theme="dark"] .tag-cloud-list a {
  background: rgba(18, 18, 18, 0.25) !important;
}

/* 夜间模式ID卡按钮hover颜色 */
[data-theme="dark"] #aside-content .card-info #card-info-btn:hover {
  background-color: var(--btn-bg);
}

/* #rightside > div > button{
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%) !important;
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000 !important;
} */

#footer .footer_custom_text {
  margin-top: 8px;
}

#footer .footer_custom_text img {
  border-radius: 6px;
}

#footer .boardsign {
  border-radius: 6px;
}

