/* nav顶栏自定义样式 */
#page-header.nav-fixed #nav {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

/* 顶栏按钮文字颜色 */
#page-header.nav-fixed #nav a {
  color: rgba(255, 255, 255, 0.8);
}

/* 顶栏菜单按钮颜色 */
#page-header.nav-fixed #nav .site-page.group {
  color: rgba(255, 255, 255, 0.8);
}

/* 顶部菜单栏子菜单悬停样式 */
/* #nav .menus_items .menus_item:hover .menus_item_child {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(19px) saturate(170%) !important;
  -webkit-backdrop-filter: blur(19px) saturate(170%) !important;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #nav .menus_items .menus_item:hover .menus_item_child {
  background: rgba(18, 18, 18, 0.15) !important;
} */

/* #nav .menus_items .menus_item:hover .menus_item_child li a:hover{
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(19px) saturate(170%) !important;
  -webkit-backdrop-filter: blur(19px) saturate(170%) !important;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
} */



/* 顶栏搜索图标颜色 */
#page-header.nav-fixed #nav .site-page.social-icon.search {
  color: rgba(255, 255, 255, 0.8);
}

/* 顶栏全部文字颜色 */
#page-header.nav-fixed #nav a,
#page-header.nav-fixed #nav span.site-page,
#page-header.nav-fixed #nav #toggle-menu {
  color: rgba(255, 255, 255, 0.8);
}

/* 顶栏手机端侧边栏按钮颜色 */
#page-header.nav-fixed #nav .site-page {
  color: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(18, 18, 18, 0.15);
}

/* 搜索框自定义样式 */
.search-dialog {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .search-dialog {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 0px !important;
  }
}

.search-dialog .local-search-input input, .search-dialog #algolia-search-input input, .search-dialog .local-search-input .ais-SearchBox-input, .search-dialog #algolia-search-input .ais-SearchBox-input{
   /* From https://glassmorpher.ai */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(32px) saturate(190%);
  -webkit-backdrop-filter: blur(32px) saturate(190%);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
 

/* footer自定义样式 */
#footer {
  background: none;
}

/* post页面自定义样式 */
#content-inner #post {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #content-inner #post {
  background: rgba(18, 18, 18, 0.15);
}

/* archive页面自定义样式 */
#content-inner #archive {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #content-inner #archive {
  background: rgba(18, 18, 18, 0.15);
}

/* tags page页面自定义样式 */
#content-inner #page {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #content-inner #page {
  background: rgba(18, 18, 18, 0.15);
}


/* card-widget卡片自定义样式 */
#aside-content .card-widget {
    /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #aside-content .card-widget {
  background: rgba(18, 18, 18, 0.15);
}


/* 移动端侧边栏自定义样式 */
#sidebar #sidebar-menus {
    /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #sidebar #sidebar-menus {
  background: rgba(18, 18, 18, 0.15);
}


/* 页面顶部图自定义样式 */
#page-header.post-bg {
  height: 300px;
  background: transparent !important;
}


/* 文章磁贴自定义样式 */
#recent-posts .recent-post-item {
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] #recent-posts .recent-post-item {
  background: rgba(18, 18, 18, 0.15);
}

/* 404页面自定义样式 */
.page.type-404 #content-inner #page {
  /* Basic Glass Effect */
  background: none;
  backdrop-filter: none;
  -webkit-backdrop-filter:none;
  border-radius: none;
  border: none;
  box-shadow: none;
}

.page.type-404 #content-inner #page .error-content{
  /* Basic Glass Effect */
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(19px) saturate(170%);
  -webkit-backdrop-filter: blur(19px) saturate(170%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .page.type-404 #content-inner #page .error-content  {
  background: rgba(18, 18, 18, 0.15);
}