/* 自定义twikoo评论输入框高度 */
.tk-input[data-v-619b4c52] .el-textarea__inner {
  height: 130px !important;
}

/* 输入评论时自动隐藏输入框背景图片 */
.tk-input[data-v-619b4c52] .el-textarea__inner:focus {
  background-image: none !important;
}

/* 调整楼中楼样式 ，整体左移，贴合气泡化效果 */
.tk-replies {
  left: -56px;
  width: 100%;
}

.tk-replies .tk-main .tk-row {
  width: calc(100% + 56px);
}

/* 头像宽度调整 rem单位与全局字体大小挂钩，需配合自己情况调整大小以保证头像显示完整*/
.tk-replies .tk-avatar {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.tk-comment .tk-submit .tk-avatar,
.tk-replies .tk-avatar {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.tk-comment .tk-submit .tk-avatar img {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.tk-replies .tk-avatar img {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

/* 回复框左移，避免窄屏时出框 */
.tk-comments-container .tk-submit {
  position: relative;
  left: -56px;
}

/* 评论块气泡化修改 */
.tk-content {
  /*默认模式访客气泡配色*/
  padding: 0.25rem 0.5rem;
  color: #fff;
  /*默认模式访客气泡字体配色*/
  border-radius: 1rem;
  border-top-left-radius: 0;
  font-size: 15px !important;
  width: fit-content;
  max-width: 100%;
  position: relative !important;
  overflow: visible !important;
  max-height: none !important;
  line-height: 1.375;

  /* Basic Glass Effect */
  background: rgba(0, 166, 255, 0.5);
  backdrop-filter: blur(19px) saturate(160%);
  -webkit-backdrop-filter: blur(19px) saturate(160%);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

/* 修复图片出框 */
.tk-content img {
  max-width: 100% !important;
  border-radius: 0.90rem;
  margin: 0.25rem 0;

}

/* 修复过长文本出框 */
.tk-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.tk-content a {
  color: #eeecaa;
  /*默认模式超链接配色*/
}

.tk-content p {
  margin: 3px !important;
}

.tk-master .tk-content {
  /*默认模式博主气泡配色*/
  color: #fff;
  /*默认模式博主气泡字体配色*/
  width: fit-content;
  max-width: 100%;

  /* Basic Glass Effect */
  background: rgba(255, 128, 128, 0.45);
  backdrop-filter: blur(19px) saturate(160%);
  -webkit-backdrop-filter: blur(19px) saturate(160%);
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 4px 30px rgba(0, 0, 0, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.1);
}

.tk-master .tk-content a {
  color: #eeecaa;
}


.tk-row[data-v-d82ce9a0] {
  max-width: 100%;
  width: fit-content;
}

.tk-avatar {
  border-radius: 50%;
  margin-top: 10px;
}

/* 夜间模式配色，具体比照上方默认模式class */
[data-theme="dark"] .tk-content {
  color: #fff;
  /* Basic Glass Effect */
  background: rgba(51, 51, 51, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  /* Border & Shape */
  border: 0.5px solid rgba(255, 255, 255, 0.25);

  /* Shadow & Depth */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 0px rgba(0, 0, 0, 0);
}

[data-theme="dark"] .tk-content a {
  color: #dfa036;
}

[data-theme="dark"] .tk-master .tk-content {
  color: #fff;
  background: rgba(51, 51, 51, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  /* Border & Shape */
  border: 0.5px solid rgba(255, 255, 255, 0.25);

  /* Shadow & Depth */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
    0 10px 0px rgba(0, 0, 0, 0);
}

[data-theme="dark"] .tk-master .tk-content a {
  color: #dfa036;
}

/* 设备名称常态隐藏，悬停评论时显示 */
.tk-extras {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.tk-content:hover+.tk-extras {
  -webkit-animation: tk-extras-fadeIn 0.5s linear;
  -moz-animation: tk-extras-fadeIn 0.5s linear;
  -o-animation: tk-extras-fadeIn 0.5s linear;
  -ms-animation: tk-extras-fadeIn 0.5s linear;
  animation: tk-extras-fadeIn 0.5s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-moz-keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-webkit-keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@-o-keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}

@keyframes tk-extras-fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  to {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}